
/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*API*/
/*https://api.themoviedb.org/3/movie/550?api_key=121bc0e4496113720c5608bf27388f16*/

/*Richiamo all'API: modifica a seconda della necessità {movie_id} e <<api_key>>*/
/*https://api.themoviedb.org/3/movie/{movie_id}?api_key=121bc0e4496113720c5608bf27388f16&language=en-US*/